.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 40px;
    background-color: #0c0238e0;
}

.sidebarappear {
    padding: 20px;
    color: rgb(255, 255, 255);
}

.sidebarMenu {
    margin-bottom: 20px;
}

.sidebarTitle {
    font-size: 13px;
    color: #fff9f9;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background: rgb(255, 255, 255);
    padding-bottom: 1rem;
    color: rgba(0, 0, 0, 0.979);
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}